<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario de Alta de Estudiante</h1>


    <form th:Object="${estudiante}" th:action="@{/altaModificacionEstudiante}" method="post">  <!--@ es lo que va a recibir la url --> 

        <!-- Guaradar en un input oculto el id del estudiante , el id es para cuando queramos actualizar o borrar-->
        <input type="hidden" name="id" th:value="${estudiante.id}">
                      
        
        <label for = "nombre">Nombre: </label>
        <!-- QUIERO QUE EN LA PAGINA SOLO SE PUEDA ENVIAR CUANDO HAYA RELLENANDO LOS CAMPOS QUE YO QUIERO ES DECIR QUE ALGUNOS CAMPOS NO PUEDEN ESTAR VACIOS O NULL PARA ELLO AÑADIMOS EL REQUIERED EN LA LINEA INPUT DE DICHOS CAMPO -->
        <input type="text" name="nombre" id="nombre" th:field="*{nombre}" required> 
        <!-- el nombre del campo que esta dentro de th:field se tiene que llamar igual que en la clase  -->

        <label for = "primerApellido">Primer Apellido: </label>
        <input type="text" name="primerApellido" id="primerApellido" th:field="*{primerApellido}" required> 

        <label for = "segundoApellido">Segundo Apellido: </label>
        <input type="text" name="segundoApellido" id="segundoApellido" th:field="*{segundoApellido}" required> 
   
        <label for = "fechaAlta">Fecha de Alta: </label>
        <input type="date" name="fechaAlta" id="fechaAlta" 
                  th:field="*{fechaAlta}" th:value="${estudiante.fechaAlta}" required>  
        
        <!-- el th:value lo que hace es que me deje la fecha anterior a la hora de darle a actualizar para ver si queremos dejar esta misma fecha o modificarla -->

        <label for = "fechaNacimiento">Fecha de Nacimiento: </label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" 
                 th:field="*{fechaNacimiento}" th:value="${estudiante.fechaNacimiento}"> 
    
        <fieldset>

             
            <!-- el genero es un enumerable -->
            <legend>Genero</legend>
            <label for="hombre">Hombre</label>
            <!-- HOMBRE asi se llama dentro de las {} del enum -->
            <input type="radio" id="hombre" name="genero" value="HOMBRE" th:field="*{genero}" required> 

            <label for="mujer">Mujer</label>
            <input type="radio" id="mujer" name="genero" value="MUJER" th:field="*{genero}" required>

            <label for="otro">Otro</label>
            <input type="radio" id="otro" name="genero" value="OTRO" th:field="*{genero}" required>

            <!-- Los radio botones han de ser mutuamente excluyentes es decir si selecciono uno no puedo seleccionar otro
            por eso añadimos name="genero", esto le indica q hacen referencia al mismo genero 
            y cuando le metamos datos solo meta un valor -->
        </fieldset>
    
        <label for="beca">Beca recibida:</label>
        <!-- el campo beca en la clase Estudiante es de tipo double entonces el th:field entiende que es de tipo double aunque el tipo sea text -->
        <input type="text" name="beca" id="beca" th:field="*{beca}">  


        <label for="idFacultad">Facultad: </label>
        <select name="facultad" id="idFacultad" required>
          <option></option>
          <!-- el siguiente option es para cuando quiera actualizar algun estudiante que me marquen su facultad
           en el despliegue correspondiente -->
          <option th:each="facultad : ${facultades}" th:value="${facultad.id}"
                  th:text="${facultad.nombre}" 
                  th:selected="${estudiante.facultad != null and facultad.id == estudiante.facultad.id}">
                </option>
       
                      

        
        </select>
     
        <label for="numerosTelefonos">Telefono(s): </label>

        <!-- a continuacion no le vamos a  llamar telefono ya que cuando quiera intentar guardar o sacra los telefonos 
        me va a decir que no porq entonces es convertir un string en una lista de telefonos porq en la clase Estudiante
        tenemos una lista de Telefono llamada telefonos  -->
        <input type="text" name="numerosTelefonos" id="numerosTelefonos" 
                         placeholder="Uno o varios, separados por punto y coma"
                         th:value="${telefonos}"> 
        
        <!-- Lo siguiente es para envira el formulario  -->
        <!--Para clikear el boton llamado submit y para campiar la caption o nombre del boton lo hacemos via value dnd le decimos que se llame Enviar en vez de submit-->
        <input type="submit" value="Enviar">    
    </form>
   





























    <!-- ¿Como funciona un formulario HTML en general? -->
    <!-- //para pedir informacion, eso lo hacemos dentro del form -->


    <!--   la url que va a responder, para una url no puede recibir un metodo de tipo post-->
    <!-- <form action="/altaEstudiante" method="get">   -->

        <!--  el nombre es de tipo texto y la fecha es de tipo date-->
      <!-- <input name="nombre" placeholder="Escriba su nombre, porfa!" type="text">  -->
     
      <!-- <label for="fechaNacimiento"> Fecha de Nacimiento: </label>
      <input name="fechaNacimiento" type="date" id="fechaNacimiento">  -->

       <!-- // para clikear el boton  llamado submit y para campiar la caption o nombre del boton lo hacemos via value dnd le decimos que se llame Enviar en vez de submit-->
       <!-- <input type="submit" value="Enviar">    -->
    
    <!-- </form>  -->
</body>
</html>